APP_IMAGE=ghcr.io/genkikneg/jong-poi-app:replace-with-commit-sha
WEB_IMAGE=ghcr.io/genkikneg/jong-poi-web:replace-with-commit-sha
MYSQL_IMAGE=mysql:8.0.45@sha256:4af1f8815716546f5b12410f7621f37f93db8dd11a184706ef59111930b8c2ff
PROXY_NETWORK=proxy
